@import "tailwindcss";

@theme {
    --color-brand-50:  #e8f5ef;
    --color-brand-100: #c3e6d4;
    --color-brand-200: #9dd6b9;
    --color-brand-500: #1f7a5a;
    --color-brand-600: #1f7a5a;
    --color-brand-700: #155c43;
    --color-brand-800: #0f4330;
    --color-brand-900: #0a2e20;
}